---
# Upstream DNS server (your router)
DNS1: "10.0.0.1"

# Enable persistent storage for Pi-hole data
persistentVolumeClaim:
  enabled: true

# Ingress for web UI
ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/app-root: /admin
    # Homepage service discovery (basic info only)
    # Widget config in Homepage values for environment variable support
    gethomepage.dev/enabled: "false"  # Disable autodiscovery, use manual config
  hosts:
    - "pihole.home"

# Web UI service with LoadBalancer
serviceWeb:
  loadBalancerIP: 10.0.0.250  # Second IP from MetalLB pool
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

# DNS service sharing same IP
serviceDns:
  loadBalancerIP: 10.0.0.250  # Same IP as web (shared)
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

# Single replica for homelab
replicaCount: 1

# Admin password
# IMPORTANT: Password is stored in pihole.secrets.yaml (gitignored)
# For new deployments, create pihole.secrets.yaml with:
#   adminPassword: "your-password-here"
adminPassword: "CHANGE_ME"

# Additional adlists for comprehensive ad blocking
adlists:
  # Steven Black's Unified Hosts - General ads and malware
  - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
  
  # Firebog Tick Lists (known good lists)
  # Ad servers
  - https://v.firebog.net/hosts/AdguardDNS.txt
  - https://v.firebog.net/hosts/Admiral.txt
  - https://v.firebog.net/hosts/Easylist.txt
  
  # Tracking & Telemetry
  - https://v.firebog.net/hosts/Easyprivacy.txt
  - https://v.firebog.net/hosts/Prigent-Ads.txt
  
  # Malicious domains
  - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
  - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
  - https://v.firebog.net/hosts/static/w3kbl.txt
  
  # Phishing & Malware (Firebog Green Tick - Strict Recommendations)
  - https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
  - https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt
  - https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt
  - https://v.firebog.net/hosts/Prigent-Crypto.txt
  - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
  - https://phishing.army/download/phishing_army_blocklist_extended.txt
  - https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
  - https://v.firebog.net/hosts/RPiList-Malware.txt
  - https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
  - https://raw.githubusercontent.com/AssoEchap/stalkerware-indicators/master/generated/hosts
  - https://urlhaus.abuse.ch/downloads/hostfile/
  - https://lists.cyberhost.uk/malware.txt
  - https://malware-filter.gitlab.io/malware-filter/phishing-filter-hosts.txt
  - https://v.firebog.net/hosts/Prigent-Malware.txt
  - https://raw.githubusercontent.com/jarelllama/Scam-Blocklist/main/lists/wildcard_domains/scams.txt
  - https://v.firebog.net/hosts/RPiList-Phishing.txt
  - https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/Mandiant_APT1_Report_Appendix_D.txt
  - https://raw.githubusercontent.com/tg12/pihole-phishtank-list/master/list/phish_domains.txt
  - https://raw.githubusercontent.com/HorusTeknoloji/TR-PhishingList/master/url-lists.txt
  
  # Suspicious & Tracking
  - https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
  - https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
  
  # AdGuard DNS Filters (what AdGuard DNS actually uses!)
  - https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt
  - https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/MobileFilter/sections/adservers.txt
  
  # OISD - Very comprehensive, blocks CNAME cloaking (similar to AdGuard DNS)
  - https://big.oisd.nl/domainswild

# Block DNS-over-HTTPS endpoints to prevent apps from bypassing Pi-hole
blacklist:
  # Chrome's DoH
  - chrome.cloudflare-dns.com
  - cloudflare-dns.com
  # Google's DoH
  - dns.google
  - dns.google.com
  - dns64.dns.google
  - 8888.google
  # Other common DoH providers
  - doh.opendns.com
  - doh.dns.sb
  - dns.quad9.net
  - doh.cleanbrowsing.org
  # AdGuard DoH (blocks bypassing to AdGuard when you want local Pi-hole)
  - dns.adguard.com
  - dns-family.adguard.com
