---
- name: Install Oh-My-Posh
  ansible.builtin.get_url:
    url: https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64
    dest: /usr/local/bin/oh-my-posh
    mode: '0755'

- name: Download Zoxide binary
  ansible.builtin.get_url:
    url: https://github.com/ajeetdsouza/zoxide/releases/latest/download/zoxide-x86_64-unknown-linux-musl.tar.gz
    dest: /tmp/zoxide.tar.gz
    mode: '0644'

- name: Extract Zoxide
  ansible.builtin.unarchive:
    src: /tmp/zoxide.tar.gz
    dest: /usr/local/bin
    remote_src: true

- name: Clone FZF Repository
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: /home/arjun/.fzf
    depth: 1
    version: master
  become: true
  become_user: arjun

- name: Install FZF binary
  ansible.builtin.command:
    cmd: /home/arjun/.fzf/install --bin
    creates: /home/arjun/.fzf/bin/fzf
  become: true
  become_user: arjun

- name: Symlink FZF to /usr/local/bin
  ansible.builtin.file:
    src: /home/arjun/.fzf/bin/fzf
    dest: /usr/local/bin/fzf
    state: link

# Dotfiles for arjun

- name: Clone Dotfiles Repository
  ansible.builtin.git:
    repo: https://github.com/Arjun0889/dotfiles.git
    dest: /home/arjun/dotfiles
    version: main
    force: true
  become: true
  become_user: arjun

- name: Check if .zshrc exists
  ansible.builtin.stat:
    path: /home/arjun/.zshrc
  register: zshrc_stat

- name: Remove .zshrc if it is not a symlink
  ansible.builtin.file:
    path: /home/arjun/.zshrc
    state: absent
  when: zshrc_stat.stat.exists and not zshrc_stat.stat.islnk

- name: Stow Dotfiles
  ansible.builtin.shell:
    cmd: stow .
    chdir: /home/arjun/dotfiles
  become: true
  become_user: arjun
