---
- name: Install Oh-My-Posh
  ansible.builtin.get_url:
    url: https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64
    dest: /usr/local/bin/oh-my-posh
    mode: '0755'

- name: Install Zoxide
  ansible.builtin.shell:
    cmd: curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
    creates: /home/arjun/.local/bin/zoxide
  become: true
  become_user: arjun
  environment:
    HOME: /home/arjun

- name: Symlink Zoxide to /usr/local/bin
  ansible.builtin.file:
    src: /home/arjun/.local/bin/zoxide
    dest: /usr/local/bin/zoxide
    state: link

- name: Clone FZF Repository
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: /home/arjun/.fzf
    depth: 1
    version: master
  become: true
  become_user: arjun

- name: Install FZF with shell integrations
  ansible.builtin.command:
    cmd: /home/arjun/.fzf/install --all --no-update-rc
    creates: /home/arjun/.fzf.zsh
  become: true
  become_user: arjun

- name: Symlink FZF to /usr/local/bin
  ansible.builtin.file:
    src: /home/arjun/.fzf/bin/fzf
    dest: /usr/local/bin/fzf
    state: link

- name: Create oh-my-posh config directory
  ansible.builtin.file:
    path: /home/arjun/.ohmyposh
    state: directory
    owner: arjun
    group: arjun
    mode: '0755'
  become: true
  become_user: arjun

- name: Install Zinit (zsh plugin manager)
  ansible.builtin.shell:
    cmd: |
      mkdir -p "${HOME}/.local/share/zinit"
      git clone https://github.com/zdharma-continuum/zinit.git "${HOME}/.local/share/zinit/zinit.git"
    creates: /home/arjun/.local/share/zinit/zinit.git
  become: true
  become_user: arjun
  environment:
    HOME: /home/arjun

# Dotfiles for arjun

- name: Clone Dotfiles Repository
  ansible.builtin.git:
    repo: https://github.com/Arjun0889/dotfiles.git
    dest: /home/arjun/dotfiles
    version: master
    force: true
  become: true
  become_user: arjun

- name: Check if .zshrc exists
  ansible.builtin.stat:
    path: /home/arjun/.zshrc
  register: zshrc_stat

- name: Remove .zshrc if it is not a symlink
  ansible.builtin.file:
    path: /home/arjun/.zshrc
    state: absent
  when: zshrc_stat.stat.exists and not zshrc_stat.stat.islnk

- name: Stow Dotfiles
  ansible.builtin.shell:
    cmd: stow .
    chdir: /home/arjun/dotfiles
  become: true
  become_user: arjun
